<div class="nested-fields">
  <%= f.input :description, placeholder: "Please type your description" %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= link_to_remove_association "remove dose", f %>
</div>
