<div class="container landing-page">
  <div class="lading-wrapper">
    <div class="lading-container text-center">
      <div class="landing-txt">
        <h1>Cocktail randomizer</h1>
        <h3>Select a fancy cocktail...</h3>
      </div>
        <%= link_to "Cocktails", cocktails_path, class: "landing-btn" %>
    </div>
  </div>
</div>
