<div class="container">
  <div class="row row-mod new-cocktail-row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="cocktails-wrapper text-center">
        <div class="index-txt text-center">
          <h1>In production</h1>

          <%= link_to 'Back', cocktails_path %>
        </div>
      </div>
    </div>
  </div>
</div>
