
.link-class {
  margin-top: 40px;
}

.container-cocktail {
  display: flex;
  justify-content: center;
  text-align: center;
  background-size: cover !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.cocktail-back {
  min-height: 100vh;
}

.row-mod {
  padding-top: 20px;
  padding: 20px;
  background-color: #E3E3E3;
  border-radius: 10px;
  border: 1px solid #A9A9A9;
  box-shadow: 2px 2px 6px #2B2B2B;
}

.cocktails-card {
  h2 {
    color: #70002B;
  }

  .delete-btn {
    font-size: 10px;
    text-decoration: none;
    color: #252525;
    padding: 3px;
    border: 1px solid #252525;
    border-radius: 3px;
  }

  .delete-btn:hover {
    color: #70002B;
    border-color: #70002B;
  }

  .delete-cocktail {
    padding: 8px;
    color: #E3E3E3;
    background-color: #70002B;
    border-radius: 8px;
    text-decoration: none;
  }

  .delete-cocktail:hover {
    background-color: #44051C;
    box-shadow: 2px 2px 4px #5A5A5A;
  }

  .back-btn {
    color: #70002B;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .back-btn:hover {
   color: #44051C;
 }
}

.show-pic {
  border: 2px solid #535353;
  box-shadow: 1px 1px 3px #535353;
  border-radius: 5px;
}

.cocktail-index-card {
  margin-top: 50px;
  margin-bottom: 50px;

  a {
    text-decoration: none;
  }
}

a {
    color: #404040;
    font-weight: bold;
    letter-spacing: 2px;
  }

  a:hover {
    color: #F2656A;
  }

.index-txt {
  .add-cocktail-btn {
    text-decoration: none;
    color: #404040;
    border: 2px solid #404040;
    border-radius: 5px;
    padding: 4px 2px;
    background-color: #DDDDDD;
  }

  .add-cocktail-btn:hover {
    color: #F2656A;
    border-color: #F2656A;
  }
}

.new-cocktail-row {
  margin-top: 20px;
  .input-style {
    border-radius: 8px;
    background-color: #DDDDDD;
    border-color: #7C7C7C;
    color: #F2656A;
  }

  a {
    text-decoration: none;
    margin-top: 20px;
  }
}



















